.sidebar{
    transition: .3s;
    width: 60px;
    background-color: var(--black-2);
    color: white;
}

.streamers-conectados{
}
.streamers-conectados-cabecera{
    display: flex;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.streamers-conectados-cabecera h2{
    color: var(--white-2);
    font: var(--headline1);
}
.streamers-conectados-cabecera img{
    width: 40px;
    cursor: pointer;
}
.streamers-conectados-lista{
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
.streamer{
    display: flex;
    padding-block-start: 10px;
    padding-block-end: 10px;

}
.streamer:hover{
    background-color: var(--grey-2);
}
.streamer-icono{
    display: flex;
    align-items: center;
}
.streamer-icono img{
    border-radius: 50px;
    width: 35px;
}
.streamer-datos{
    display: flex;
    flex: 1;
    justify-content:space-between;
    align-items: center;
    padding-inline-start: 5px;
}
.streamer-nombre-descripcion{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.streamer-nombre-descripcion p{
    color: var(--white-2);
    font: var(--body1-bold);
    font-size: 12px;
    margin-block: 0;
}
.streamer-nombre-descripcion span{
    color: var(--white-1);
    font: var(--body1-regular);
    font-size: 12px;
}
.streamer-viewers{
    display: flex;
    align-items: center;
}
.streamer-viewers span{
    color: var(--red);
    font-size: 12px;
}
.streamer-viewers p{
    color: var(--white-2);
    padding-inline-start: 10px;
    font-size: 12px;
}
.streamer-datos{
    display: none;
}
.streamers-conectados-cabecera-titulo{
    display: none;
    padding-inline-end: 10px;
}

@media screen and (max-width: 1200px){
    .sidebar{
        position: relative;
        z-index: 99;
        width: 60px;
    }
    .streamers-conectados{
        position: absolute;
        background-color: var(--black-2);
        inset-block-end: 0;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 100%;
    }
    
    .streamers-conectados-cabecera{
        padding-inline-start: 5px;
    }

    .streamer{
        
    }
}

.sidebar-desplegable{
    width: 300px;
    transition: .9s;
}
.streamer-datos-mostrar{
    display: flex;
}
.streamers-conectados-cabecera-mostrar{
    display: block;
}
.streamers-conectados-lista-padding{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
